<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>market_mvc2_jpa</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
		<servlet-name>ClientController</servlet-name>
		<servlet-class>fstt.org.market.controllers.ClientController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryController</servlet-name>
		<servlet-class>fstt.org.market.controllers.CategoryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>fstt.org.market.controllers.ProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderController</servlet-name>
		<servlet-class>fstt.org.market.controllers.OrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderlineController</servlet-name>
		<servlet-class>fstt.org.market.controllers.OrderlineController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderlineController</servlet-name>
		<url-pattern>/orderline</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderController</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientController</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>
</web-app>